<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>806105512166-rm9lp5rf8q81cnd46ap5jm9vgq095g9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806105512166-rm9lp5rf8q81cnd46ap5jm9vgq095g9a</string>
	<key>API_KEY</key>
	<string>AIzaSyAboIjF5f9OdRpMf8I4zX9JhCLsb4f-yfo</string>
	<key>GCM_SENDER_ID</key>
	<string>806105512166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peteryasi.Watchr</string>
	<key>PROJECT_ID</key>
	<string>watchr-77cec</string>
	<key>STORAGE_BUCKET</key>
	<string>watchr-77cec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:806105512166:ios:ce0333d13ec88510</string>
	<key>DATABASE_URL</key>
	<string>https://watchr-77cec.firebaseio.com</string>
</dict>
</plist>